<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Servicios</h2>
        </div>
        <div class="tim-title text-justify">
            <h3>Entre los servicios que prestamos se encuentran:</h3>
            <br>
            <ul class="card-avatar  ">
                <li>Contratos en general.</li>
                <li>Diseño jurídico corporativo de empresas</li>
                <li>Representación y defensa en procesos civiles y comerciales.</li>
                <li>Asesoramiento a nuevas empresas.</li>
                <li>Registro y oposición de marcas, patentes y derechos de autor.</li>
                <li>Protección de marcas, patentes y derechos de autor.</li>
                <li>Infracciones de Marcas y Derechos de Autor.</li>
                <li>Asesoramiento para constitución y regulación de Organizaciones sin fines de lucro, Fundaciones y Asociaciones.</li>
                <li>Asesoramiento en la instauración de Cuestiones precautorias, conciliación.</li>
                <li>Asesoramiento para empresas dedicadas a la exportación e importación.</li>
                <li>Resolución de Conflictos por la vía del Arbitraje y la Conciliación.</li>
                <li>Creación y modificación de estatutos y reglamentos.</li>
                <li>Proyección de escrituras de constitución.</li>
                <li>Litigios en materia comercial.</li>
                <li>Asesoramiento para empresas de índole familiar.</li>
                <li>Asesoramiento para la estructuración de todo tipo de sociedades comerciales.</li>
            </ul>
        </div>
    </div>
</div>