<div class="section section-navbars">
    <div id="navbar">
        <div class="container">
            <div class="tim-title">
                <h3>La Consultora</h3>
                <br />
            </div>
        </div>
        <div class="navigation-example">
            <nav class="navbar navbar-expand-lg navbar-transparent">
                <div class="container">
                    <div class="text-justify text-white col-lg-8 col-md-12 col-sm-12" style="background-color: rgba(81, 203, 206, 0.8); border-radius: 8px;">
                        <h3>Consultora jurídica que actúa en distintos campos del Derecho en Bolivia. A través de estrategias construidas para cada caso en particular dentro de un servicio personalizado hacía nuestros clientes. El servicio prestado se caracteriza
                            por la seriedad y habilidad para presentar soluciones innovadoras, garantizando un resultado para nuestros clientes. Por la gran complejidad de los LITIGIOS en Bolivia, por los problemas estructurales que existen en el Órgano
                            Judicial, como la retardación de justicia y los elevados costos procesales, buscamos la forma de garantizar las mejores salidas que impliquen tiempo, tomando en cuenta todas las posibles consecuencias de las acciones legales
                            para nuestros clientes.</h3>
                        <h3 style="font-weight: bold;">COMPROMISO, RESPONSABILIDAD Y CALIDAD SON LOS SELLOS DEL ESTUDIO.</h3>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title" style="font-weight: bold;">Gerente en Llanos & Asociados Servicios </h3>
                            <div class="social-line text-center">
                                <img class="img-thumbnail img-responsive" src="./assets/img/perfil.jpg" alt="Random second slide">
                                <a class="btn btn-link btn-danger" href="mailto:josemaria_llanos@hotmail.com">josemaria_llanos@hotmail.com</a><br> +591 70145801<br> +591 60683430
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>